body {
  font-family: Oswald;
  background-color: skyblue;
}

header {
  background-color: rgb(73, 73, 73);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo img {
  width: 100px;
  scale: 0.5;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #ccc;
}

main {
  padding: 20px;
  text-align: center;
}

section {
  margin-bottom: 40px;
}

h2 {
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

footer {
  background-color: #33333300;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}


#resumeAndProjects {
  display: flex;
}

#resume, #projects {
  flex: 1;
  margin-right: 20px;
}

#resume {
  border-right: 1px solid #ccc;
}

