body {
  font-family: Oswald;
  background-color: skyblue;
  margin: 0;
  padding: 0;
}
/* Header styles */
header {
  background-color: rgb(73, 73, 73);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo img {
  width: 100px;
  scale: 0.5;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #070707;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #ccc;
}

.container {
  width: 80%;
  margin: 50px auto;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
}
.hidden {
  display: none;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#social-links {
  scale: 3;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
}

#social-links ul {
  list-style-type: none;
  padding: 0;
}

#social-links ul li {
  display: inline-block;
  margin-right: 10px;
}

#social-links ul li a {
  display: block;
}

footer {
  background-color: #33333300;
  color: #000000;
  padding: 20px;
  text-align: center;
}