body,
h1,
p {
  background-color: skyblue;
  margin: 0;
  padding: 0;
  font-family: Oswald;
}

/* Header styles */
header {
  background-color: rgb(73, 73, 73);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo img {
  width: 100px;
  scale: 0.5;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #ccc;
}

footer {
  background-color: #33333300;
  color: #000000;
  padding: 20px;
  text-align: center;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#youtube-video {
  margin-top: 20px;
}

#bio-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.bio {
  margin-left: 20px;
  float: left;
}

.bio img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#portfolio-section {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#social-links {
  scale: 3;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
}

#social-links ul {
  list-style-type: none;
  padding: 0;
}

#social-links ul li {
  display: inline-block;
  margin-right: 10px;
}

#social-links ul li a {
  display: block;
}

#map {
  margin-top: 20px;
  text-align: center;
}
